@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  @if (Model.Event == null)
  {
    <p>Event is null</p>
  } else
  {
    <p>Event: @Model.Event.Id, @Model.Event.RecordDate.ToString("MMMM d yyyy"), @Model.Event.Description</p>
  }
</div>